absl-py==0.14.1
alabaster 
anyio 
appdirs==1.4.4
argh==0.26.2
argon2-cffi 
asn1crypto 
astroid 
astropy 
astunparse==1.6.3
async-generator 
atomicwrites==1.4.0
attrs 
autopep8 
Babel 
backcall 
backports.functools-lru-cache 
backports.shutil-get-terminal-size 
backports.tempfile 
backports.weakref==1.0.post1
bcrypt 
beautifulsoup4 
bert4keras==0.10.0
bitarray 
bkcharts==0.2
black==19.10b0
bleach 
bokeh 
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.2.4
certifi==2020.12.5
cffi 
chardet 
clang==5.0
click 
cloudpickle 
clyent==1.2.2
colorama 
comtypes==1.1.9
contextlib2==0.6.0.post1
cryptography 
cycler==0.10.0
Cython 
cytoolz==0.11.0
dask 
decorator 
defusedxml 
diff-match-patch 
distributed 
docopt==0.6.2
docutils 
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock 
flake8 
Flask 
flatbuffers==1.12
fsspec 
future==0.18.2
gast==0.3.3
gevent 
glob2 
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet 
grpcio==1.41.0
h5py==2.10.0
HeapDict==1.0.1
html5lib 
idna 
imagecodecs 
imageio 
imagesize 
importlib-metadata 
iniconfig 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itsdangerous 
jdcal==1.4.1
jedi 
Jinja2 
joblib 
json5==0.9.5
jsonschema 
jupyter==1.0.0
jupyter-client 
jupyter-console 
jupyter-core 
jupyter-packaging 
jupyter-server 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets 
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring 
kiwisolver 
lazy-object-proxy 
libarchive-c 
lightgbm==3.2.1
llvmlite==0.36.0
locket==0.2.1
lxml 
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib 
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.0
mkl-random 
mkl-service==2.3.0
mock 
more-itertools 
mpmath==1.2.1
msgpack 
multipledispatch==0.6.0
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk 
nose 
notebook 
numba 
numexpr 
numpy==1.19.5
numpydoc 
oauthlib==3.1.1
olefile==0.46
openpyxl 
opt-einsum==3.3.0
packaging 
pandas 
pandocfilters 
paramiko 
parso==0.7.0
partd 
path 
pathlib2 
pathspec==0.7.0
patsy==0.5.1
pep8==1.7.1
pexpect 
pickleshare 
Pillow 
pipreqs==0.4.11
pkginfo==1.7.0
pluggy 
ply==3.11
prometheus-client 
prompt-toolkit 
protobuf==3.18.1
psutil 
ptyprocess 
py 
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle 
pycosat==0.6.3
pycparser 
pycurl==7.43.0.6
pydocstyle 
pyerfa 
pyflakes 
Pygments 
pylint 
pyls-black 
pyls-spyder 
PyNaCl 
pyodbc===4.0.0-unsupported
pyOpenSSL 
pyparsing 
pyreadline==2.1
pyrsistent 
PySocks 
pytest==6.2.3
python-dateutil 
python-jsonrpc-server 
python-language-server 
pytz 
PyWavelets 
QDarkStyle==2.8.1
QtAwesome 
qtconsole 
QtPy==1.9.0
regex 
requests 
requests-oauthlib==1.3.0
rope 
rsa==4.7.2
Rtree 
scikit-image==0.18.1
scikit-learn 
scipy==1.4.1
seaborn 
Send2Trash 
simplegeneric==0.8.1
singledispatch 
six 
sklearn==0.0
sniffio 
snowballstemmer 
sortedcollections 
sortedcontainers 
soupsieve 
spyder 
spyder-kernels 
SQLAlchemy 
statsmodels==0.12.2
sympy 
tables==3.6.1
tblib 
tensorboard==2.2.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.9.4
testpath 
textdistance 
threadpoolctl 
three-merge 
tifffile 
toml 
toolz 
tornado 
tqdm 
traitlets 
typed-ast 
typing-extensions 
ujson 
unicodecsv==0.14.1
urllib3 
watchdog 
wcwidth 
webencodings==0.5.1
Werkzeug 
widgetsnbextension==3.5.1
win-inet-pton 
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xlrd 
XlsxWriter 
xlwt==1.3.0
xmltodict==0.12.0
yapf 
yarg==0.1.9
zict==2.0.0
zipp 
zope.event==4.5.0
zope.interface 
